{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in notes %}
  <li class="list-group-item">
    {{ note.data }}
    <form method="post" action="{{ url_for('notes.delete_note', id=note.id) }}">
    <button type="submit" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
    </form>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
<!--Pagination-->
{% for page_num in notes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
      <!--different style for the current page-->
        {% if notes.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('notes.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('notes.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

{% endblock %}